* {
  padding: 0;
  margin: 0;
  user-select: none;
}

div#superman {
  background-color: red;
  position: absolute;
}

div.bullet {
  background-color: green;
  position: absolute;
}

div.obstacle {
  background-color: blue;
  position: absolute;
}